@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap");
:root {
  --primary-color: #27F2FE;
  --hover-color: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: black;
  font-family: "Poppins";
}

.logo {
  width: 200px;
  height: auto;
  transition: all 1s;
  z-index: 9999;
}

.hide-logo {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 1s;
  z-index: 9999;
}

section.hero {
  height: 100vh;
  background-image: url("../assets/studio-dark-darker.jpg");
  background-position: top;
  background-size: cover;
}

section.hero .container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

section.hero .container .hero-logo {
  width: 500px;
  height: auto;
  transition: all 1s;
}

section.description {
  margin-bottom: 2em;
}

section.description .container {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 2em;
}

section.description .container .quote {
  font-style: italic;
  text-align: end;
  margin-left: 2em;
  margin-top: 2em;
}

section.description .container .michal {
  font-style: italic;
  text-align: end;
  margin-bottom: 2em;
}

section.description .container h1 {
  color: white;
  text-transform: uppercase;
}

section.description .container .name {
  color: var(--primary-color);
  margin-top: -1.2em;
}

section.description .container p {
  color: white;
  margin: 0 1em;
  text-align: start;
}

section.breaker {
  height: 50vh;
  width: 100%;
  margin: 4em 0;
  background-image: url("../assets/pixels.png");
  background-position: top;
  background-size: cover;
}

section.services img {
  width: 150px;
  height: auto;
}

section.services h4 {
  text-transform: uppercase;
  color: white;
}

section.services p {
  color: white;
}

section.services .right-col li {
  color: white;
}

section.prices {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: all .5s;
}

section.prices:hover {
  background: #111111;
}

section.prices .container {
  border-radius: 10px;
}

section.prices .container h4 {
  color: white;
  font-size: 2em;
  text-align: center;
}

section.prices .container h5 {
  color: grey;
  font-size: 1.5em;
  text-align: center;
  margin-top: -1.5em;
  font-weight: 400;
}

section.prices .container .price-one {
  display: flex;
  justify-content: center;
  transition: all .5s;
}

section.prices .container .price-one p {
  color: var(--primary-color);
  font-size: 2em;
  font-weight: bold;
  margin: -.7em .5em 1em;
  transition: all .5s;
}

section.prices .container .price-one img {
  width: 150px;
  height: 2px;
  transition: all .5s;
}

section.prices .container .price-two {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 3.5em;
}

section.prices .container .price-two p {
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;
  margin: -.7em .5em;
  transition: all 1s;
}

section.prices .container .price-two img {
  width: 150px;
  height: 2px;
  transition: all 1s;
}

section.prices .container p {
  color: white;
  text-align: center;
  font-size: .8em;
}

section.contact {
  text-align: center;
}

section.contact .container .form .nf-form-cont .nf-response-msg {
  color: white;
  margin-bottom: 2em;
}

section.contact .container .form .nf-form-cont .nf-form-fields-required {
  display: none;
}

section.contact .container .form .nf-form-cont .nf-form-title {
  display: none;
}

section.contact .container .form .nf-form-cont .nf-form-wrap .nf-form-layout {
  color: white;
}

section.contact .container .map {
  padding-top: 100px;
}

section.contact .container .map h1 {
  margin-top: 2em;
}

section.contact .container h1 {
  color: white;
}

section.contact .container .form form input, section.contact .container .form form textarea {
  width: 100%;
  padding: .8em;
  font-family: "Poppins";
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid gray;
  box-sizing: border-box;
}

section.contact .container .form form button {
  background: var(--primary-color);
  padding: 1em;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: all .5s;
  cursor: pointer;
}

section.contact .container .form form button:hover {
  padding: 1.2em;
}

section.post {
  margin-bottom: 0 auto;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  section.navigation {
    width: 100%;
    position: fixed;
    z-index: 999;
  }
  section.navigation .container nav {
    display: none;
  }
  section.navigation .container .open-navi {
    display: flex;
    justify-content: flex-end;
  }
  section.navigation .container .open-navi img {
    margin: 1em;
    cursor: pointer;
  }
  section.navigation .container .hide-btn {
    display: none;
  }
  section.navigation .container nav.show-nav {
    display: block;
    height: 100vh;
    background: #09192B;
    text-align: center;
  }
  section.navigation .container nav.show-nav .exit-nav-btn {
    display: flex;
    justify-content: flex-end;
  }
  section.navigation .container nav.show-nav .exit-nav-btn img {
    margin: 1em;
    cursor: pointer;
  }
  section.navigation .container nav.show-nav ul {
    margin-top: 0;
  }
  section.navigation .container nav.show-nav ul li {
    margin: 2em 0;
    border-bottom: solid 2px white;
    list-style: none;
  }
  section.navigation .container nav.show-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    margin: 2em;
    color: white;
    font-size: 1.5em;
  }
  section.navigation .container nav.show-nav .socials img {
    width: 30px;
    height: auto;
    margin: 1em;
  }
  section.navigation .container nav.show-nav .logo {
    display: none;
  }
  section.hero .container .hero-logo {
    width: 400px;
    height: auto;
  }
  section.description .container {
    width: 80%;
    margin: -5em auto 2em auto;
  }
  section.services .container {
    display: block;
    margin: 0 auto;
  }
  section.services .container .nagrania, section.services .container .edycja-audio, section.services .container .sala-prob {
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  section.prices {
    width: 80%;
    margin: 0 auto;
  }
  section.contact {
    margin: 4em 2em;
  }
  section.contact .container {
    text-align: center;
  }
  section.contact .container h1 {
    color: white;
  }
  section.contact .container .form form {
    text-align: center;
  }
  section.contact .container .map {
    padding-top: 0px;
  }
  section.contact .container .map iframe {
    margin-top: 2em;
    width: 100%;
  }
  section.footer .container {
    background: var(--hover-color);
  }
  section.footer .container .copy-socials {
    display: block;
    text-align: center;
  }
  section.footer .container .copy-socials p {
    color: white;
  }
  section.footer .container .copy-socials .socials {
    margin: 0 auto;
    text-align: center;
  }
  section.footer .container .copy-socials .socials img {
    width: 30px;
    height: auto;
    transition: all .5s;
    margin: 1em;
  }
  section.footer .container .copy-socials .socials img:hover {
    width: 40px;
  }
  section.footer .container .by {
    text-align: center;
    font-size: .8em;
  }
  section.footer .container .by a {
    color: white;
    text-decoration: none;
    opacity: .5;
  }
}

@media only screen and (min-width: 992px) {
  .black-nav {
    display: flex;
    justify-content: center;
    background: black;
    z-index: 9999;
  }
  section.navigation {
    width: 100%;
    position: fixed;
    z-index: 9999;
  }
  section.navigation .container .open-navi {
    display: none;
  }
  section.navigation .container nav {
    display: flex;
    justify-content: center;
  }
  section.navigation .container nav .left-nav, section.navigation .container nav .right-nav {
    display: flex;
    align-items: center;
  }
  section.navigation .container nav .left-nav li, section.navigation .container nav .right-nav li {
    list-style: none;
    margin: 0 1em;
  }
  section.navigation .container nav .left-nav li a, section.navigation .container nav .right-nav li a {
    text-decoration: none;
    color: white;
    transition: all .2s;
    font-size: 1.2em;
  }
  section.navigation .container nav .left-nav li a:hover, section.navigation .container nav .right-nav li a:hover {
    color: var(--primary-color);
  }
  section.navigation .container nav .socials {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0px;
  }
  section.navigation .container nav .socials img {
    width: 30px;
    height: auto;
    margin: 1em;
    transition: all .2s;
  }
  section.navigation .container nav .socials img:hover {
    width: 40px;
    height: auto;
  }
  section.navigation .container nav #exit-nav {
    display: none;
  }
  section.description .container {
    width: 40%;
    margin: 6em auto 3em auto;
    transition: all .5s;
  }
  section.description .container:hover {
    background: #111111;
  }
  section.services .container {
    display: block;
    text-align: justify;
    margin: 2em auto;
  }
  section.services .container .nagrania, section.services .container .edycja-audio, section.services .container .sala-prob {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: all .5s;
  }
  section.services .container .nagrania:hover, section.services .container .edycja-audio:hover, section.services .container .sala-prob:hover {
    background: var(--hover-color);
  }
  section.services .container .nagrania .left-col, section.services .container .edycja-audio .left-col, section.services .container .sala-prob .left-col {
    margin: 2em;
    text-align: center;
  }
  section.services .container .nagrania .left-col h4, section.services .container .edycja-audio .left-col h4, section.services .container .sala-prob .left-col h4 {
    margin-top: -.2em;
  }
  section.services .container .nagrania .right-col, section.services .container .edycja-audio .right-col, section.services .container .sala-prob .right-col {
    margin: 2em;
  }
  section.prices {
    width: 50%;
    height: auto;
    margin: 0 auto 3em;
    padding: 1em;
  }
  section.contact .container {
    display: flex;
    justify-content: center;
  }
  section.contact .container .form {
    text-align: left;
    width: 40%;
  }
  section.contact .container .form h1 {
    color: white;
    margin: -1em 0 2em 0;
  }
  section.contact .container .form form {
    margin-right: 5em;
    text-align: center;
  }
  section.footer .container {
    height: 20vh;
    position: relative;
    background: var(--hover-color);
    text-align: center;
  }
  section.footer .container .copy-socials {
    padding: 1em 3em;
  }
  section.footer .container .copy-socials p {
    color: white;
  }
  section.footer .container .by {
    text-align: center;
    font-size: .8em;
  }
  section.footer .container .by a {
    text-decoration: none;
    color: white;
    opacity: .5;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
